<style>
    form {
        width: 30vw !important;
        height: 20vw !important;
        position: absolute !important;
        bottom: 10px !important;
        background: white !important;
        border-radius: 20px !important;
        margin-left: 20vw !important;
        text-align: center !important;
        font-size: 30px !important;
        display: inline-block !important;
        vertical-align: center !important;
    }
</style>
TODO: Formulaire déroulant
<div>
    Demmande de devis

    {{ form_start(quoteForm) }}
    {{ form_end(quoteForm) }}
</div>