#page {
  display: flex;
}

#progressbar {
  width: 300px;
  position: relative;

  .bar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;

    span {
      width: 200px;
      padding: 2px 0;
      display: block;
    }

    > div {
      height: 100%;
      width: 40px;

      > div {
        border-left: gray 5px dashed;
        width: 1px;
        margin: 40px auto;
        height: 400px;
      }
    }
  }

  > div {
    cursor: not-allowed;
  }

 .step {
   margin: 60px 0;
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   text-decoration: none;

   span {
     width: 200px;
     padding: 2px 0;
     display: block;
     text-transform: uppercase;
     color: gray;
     font-family: rounded-bold;
   }

   .span-active {
     color: #f88379;
   }

   div {
     padding: 2px 0;
     text-align: center;
     font-size: 1.5rem;
     width: 40px;
     border-radius: 60%;
     background-color: lightblue;
     color: whitesmoke;
   }

   .step-valid {
     background-color: #f88379;
   }
 }
}

#quote-content {
  > h2 {
    color: green;
    font-family: rounded-bold;
    text-align: center;
  }

  > p {
    text-align: center;
    color: gray;
  }

  > span {
    color: gray;
    font-size: .8rem;
    font-family: rounded-light;
    text-align: center;
  }

  > h3 {
    color: lightblue;
    font-family: rounded-bold;
    text-align: center;
    font-size: 2rem;
  }

  margin-left: 20px;
  margin-bottom: 200px;
  width: 70%;

  form button, form a {
    font: unset;
    background: #f88379;
    font-size: 1rem;
    border: unset;
    border-radius: 5px;
    padding: 8px 16px;
    color: white;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  form a {
    background: #125771;
    text-decoration: none;
  }
}

#quote-resume {

  h3 {
    font-size: 1.5rem;
    margin: 50px 0 0 0;
    color: gray;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    h4 {
      color: lightblue;
      font-family: rounded-bold;
      font-size: 1.2rem;
    }

    .title {
      font-size: .8rem;
      margin: 0;
    }

    .info {
      margin: 0 0 20px 0;
      color: #f88379;
    }
  }
}

@media screen and (max-width: 580px) {
  #progressbar {
    width: 50px;
    margin-left: 20px;

    .bar, .step {
      justify-content: left;

      span {
        display: none;
      }
    }
  }

  #quote-content > p {
    font-size: .9rem;
  }

  #quote-resume > div {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));

      > div {
        border-bottom: 1px solid lightgray;
      }
  }
}